@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../fonts/JETBRAINSMONO-REGULAR.TTF");
    font-display: swap;
}

body {
    background-color: #f1f1f1;
}

.dark {
    background-color: #121212;
}

canvas {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#page {
    position: absolute;
    background-color: #eeeeee;
    bottom: 73%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#zoom {
    position: absolute;
    background-color: #eeeeee;
    bottom: 80%;
    left: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
}

.dark #zoom {
    background-color: #070707;
}

#zoom button {
    background-color: transparent;
    display: block;
}

.dark #zoom button {
    filter: invert();
}

#page button {
    background-color: transparent;
    display: block;
}

.dark #page {
    background-color: #070707;
}

button {
    border: none;
    outline: none;
    cursor: grab;
}

#page input {
    border: none;
    font-family: "Jetbrains Mono";
    padding-left: 12.5px;
    width: 90px;
    font-weight: 800;
    font-size: 50px;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    color: #777;
}

#page img {
    width: 70px;
    height: 40px;
}

#zoom img {
    width: 50px;
    height: 50px;
}

#increaseZoom {
    cursor: zoom-in;
}

#decreaseZoom {
    cursor: zoom-out;
}

#downloadPage {
    background-blend-mode: hue;
    font-family: "Nunito";
    font-weight: 1000;
    text-decoration: underline;
    font-size: 20px;
    color: #777;
}

.dark #downloadPage {
    filter: invert();
}

#downloadPage a {
    color: #777;
}

#text-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.1;
    line-height: 1.0;
}
 
#text-layer > div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

#pageCountSpan {
    font-family: "Jetbrains Mono";
    background-color: #eeeeee;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;
    color: #666666;
    position: absolute;
    z-index: -1;
    bottom: 68%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 85px;
}

.dark #pageCountSpan {
    background-color: #070707;
}

#uploadpdf {
    image-rendering: crisp-edges;
}

.dark #uploadpdf {
    filter: invert();
}

#other {
    position: absolute;
    bottom: calc(100vh / 15);
}

#other img {
    width: calc(100vh / 8);
    height: calc(100vh / 8);
    cursor: pointer;
    position:relative;
}

#other input {
    width: calc(100vh / 8);
    height: calc(100vh / 8);
}

#fullscreen {
    image-rendering: pixelated;
    position: absolute;
}

.dark #fullscreen {
    filter: invert();
}

#downloadPage img {
    image-rendering: crisp-edges;
}

#theme {
    image-rendering: crisp-edges;
}

.dark #theme {
    filter: invert();
}

.dark #other a::selection {
    background-color: orange;
}

.dark #other img::selection {
    background-color: orange;
}

.dark #zoom button img::selection {
    background-color: orange;
}

.dark #uploadpdf::selection {
    background-color: orange;
}